*{
    padding: 0;
    margin: 0;
}
.navbar-default{
    height: 70px;
    background-color: rgba(34, 38, 44)!important;
    
    img{
        margin-left: 15px;
        margin-top: -10px;
    }
}
.setting{
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tx_zoom{
    flex:1;
    display: flex;
    align-items: center;
}
.touxiang{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../images/sample.jpg) no-repeat center;
    background-size: 40px auto;
}
.myzoon{
    display: inline-block;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    margin-bottom: 0;
}
.unlogin{
    width: 80px;
    margin-right: 30px;
    color: white;
    font-size: 16px;
}

aside{
    width: 100px;
    height: 100%;
}